/* CREDITS */
/* Layout by Evelson Bertholdo Junior
   XHTML/CSS by Andrews Ferreira Guedis (andrewsfg@gmail.com) - www.andrecomws.com
   Designed by Letti Tecnologia - www.letti.com.br */


/* meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* end meyer reset */


/* start layout */

body{
	background-image:url(../images/bg-body.png);
	background-repeat:repeat-x;
	background-color:#710038;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
}

#top{
	width:999px;
	height:145px;
	margin:0 auto;
}

/* end layout */

#top h1{
	background-image:url(../images/logo-alegrife.png);
	width:184px;
	height:145px;
	float:left;
	margin:0 0 0 5px;
}

#top h1 span{
	display:none;
}

#menu{
	width:100%;
	height:30px;
	background-color:#3B001E;
}

#menu ul{
	width:998px;
	height:15px;
	margin:5px auto;
	padding:5px 0 0 0;
}

#menu ul li{
	display:inline;
	text-transform:uppercase;
	border-right:1px solid #62334A;
	padding:0 34px 0 34px;
	font-size:12px;
}

#menu ul li a{
	color:#FFF;
	text-decoration:none;
}

#menu ul li:hover{
	background-color:#927638;
	}
	
#container{
	width:999px;
	height:100%;
	margin:0 auto;
}

#content{
	width:999px;
	height:100%;
	float:left;
}

/* classes */

.middle{
	width:999px;
	float:left;
	margin:18px 0 0 0;
}

.highlight-image{
	float:left;
	width:610px;
	margin:0 10px 10px 5px;
}

.box-high-section{
	width:332px;
	height:auto;
	background-color:#3A001C;
	float:left;
	border:1px solid #864B68;
	padding:10px;
	margin:0 10px 5px 0;
}

.box-high-section img{
	clear:left;
	}

.box-high-section h2, .box-high-section-bottom h2{
	color:#FFF;
	margin:0;
	padding:0 0 7px 0;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
}

.box-high-section-img{
	float:left;
}

.box-high-section p{
	font-size:12px;
	color:#999;
	margin:7px 0 0 0;
	padding:0 0 0 0;
}

.box-high-section p span a{
	text-transform:uppercase;
	font-size:10px;
	color:#FFF;
	text-decoration:none;
}

.box-high-section .smalltext{
	font-size:10px;
	}

.box-high-section-bottom{
	width:210px;
	height:155px;
	border:1px solid #864B68;
	background-color:#3A001C;
	float:left;
	padding:10px;
	margin:5px 12px 0 4px;
}

.box-high-section-bottom p{
	font-size:12px;
	color:#999;
	margin:10px 0 0 0;
	text-align:left;
	padding:0;
}

.box-high-section-bottom a{
	color:#999;
	text-decoration:none;
}

.box-high-section-bottom a:hover{
	text-decoration:underline;
	}

.box-high-section-bottom img{
	margin:5px 0 0 0;
}

#pre-footer{
	width:100%;
	height:47px;
	background-color:#420021;
	float:left;
	margin:10px 0 0 0;
}

#pre-footer-content{
	width:992px;
	height:47px;
	margin:0 auto;
}

#pre-footer-content h4{
	font-size:10px;
	text-transform:uppercase;
	margin:17px 10px 0 50px;
	float:left;
}


#pre-footer-content img{
	float:left;
	margin:7px 20px 0 0;
	}

#pre-footer-content p{
	font-size:12px;
	float:left;
	margin:0 15px 0 15px;
}

#footer{
	width:100%;
	text-align:center;
	float:left;
	font-size:11px;
	color:#996666;
	margin:5px 0 5px 0;
	}

#footer a{
	color:#996666;
}

/* section alegrife */

.middle-section{
	height:305px;
	margin:0 0 0 10px;
}

.middle-section h2{
	font-size:17px;
	text-transform:uppercase;
	font-weight:bold;
	margin:20px 0 8px 0;
	
}

.middle-section h3{
	font-size:13px;
	font-style:italic;
	color:#CCCCCC;
	margin:0 0 15px 0;
}	

.middle-section p{
	width:100%;
	float:left;
	font-size:12px;
	text-align:justify;
	margin:5px 10px 0 0;
	padding:0 0 3px 0;
	line-height:120%;
}

.box-image-right{
	width:184px;
	float:right;
	border:1px solid #864B68;
	margin:20px 0 0 0;
}

.txt-middle{
	width:780px;
	float:left;
	}

.box-image-left{
	width:550px;
	float:left;
	margin:30px 0 10px 0;
	background-color:#3A001C;
	padding:10px;
	border:1px solid #864B68;
	
}

.box-image-left img{
	margin:0 30px auto;
	border:1px solid #864B68;
}

.select-collection{
	width:180px;
	float:left;
	background-color:#3A001C;
	padding:10px;
	border:1px solid #864B68;
	margin:10px 10px 0 0;
}	

.select-collection img{
	margin:5px 0 15px 0;
	}

.select-fantasy{
	width:530px;
	float:left;
	background-color:#3A001C;
	padding:10px;
	border:1px solid #864B68;
	margin:20px 10px 0 0;
	text-align:center;
}	

.select-fantasy img{
	border:1px solid #864B68;
	margin:0 10px 0 auto;
}

#contact{
	width:400px;
	background-color:#3A001C;
	border:1px solid #864B68;
	padding:10px;
	font-size:12px;
}

#contact fieldset legend{
	font-size:15px;
	padding:0 0 10px 0;
	color:#F9F9F9;
	font-weight:bold;
	}
#contact input{
	margin:0 0 5px 0;
	color:#660066;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:2px;
}

.middle-section a{
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	}

#gallery img{
	float:left;
	margin:0 10px 0 0;
}