/* ... */
body {
	background-color: #050a12;
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(20,20,20,.1) 5px, rgba(20,20,20,.1) 10px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(20,20,20,.12) 5px, rgba(20,20,20,.12) 10px);
	border-top: 5px solid #2e3f59;
	color: #444;
	font: normal 100% Cabin, Helvetica, Arial, sans-serif;
}
a:link { text-decoration: none; }
a:hover { text-decoration: underline; }

/* clearfixes verificar se é necessário */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
.clearfix:after { clear: both; }

.container {
	margin: 0 auto;
	max-width: 960px;
	width: 90%; /* 960px */
}
header[role=banner] {
	margin: 0;
	overflow: hidden;
}
header[role=banner] hgroup {
	background: url('../images/logo_background.png') 75% 0 no-repeat;
	float: left;
	margin: 10px 10px;
	width: 34.0625%;
}
	header[role=banner] hgroup h1 {
		background: url('../images/logo-andrewsfg.png') -2px 5px no-repeat;
		font-size: 2.3125em; /* 37px / 16px */
		margin: 15px 0 0;
		overflow: hidden;
	}
	header[role=banner] hgroup h1 a {
		display: block;
		text-indent: -9999px;
	}
	header[role=banner] hgroup h2 {
		color: #ececec;
		font-size: .5625em; /* 9px / 16px */
		text-transform: uppercase;
	}
	header[role=banner] hgroup h2 strong {
		font-size: 1.33333333em; /* 12px / 9px */
		font-weight: bold;
	}
/* navigation */
nav[role=navigation] {
	background: url('../images/andrewsfg-sort_image.jpg') top right no-repeat; 
	float: right;
	width: 42.395833%; /* 407px / 960px */
}
	nav[role=navigation] a {
		background-color: #2e3f59;
		background-image: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    color-stop(0.4, #232F42),
		    color-stop(0.51, #2E3F59)
		);
		background-image: -moz-linear-gradient(
		    center bottom,
		    #232F42 40%,
		    #2E3F59 51%
		);
		color: #fff;
		display: block;
		float: left;
		padding: 20px 2px;
		height: 48px;
		margin: 0 2px;
		width: 17.690418%;
		text-shadow: #000 0 1px;
		text-decoration: none;
		-webkit-text-shadow: #000 0 1px;
		-moz-text-shadow: #000 0 1px;
	}
	nav[role=navigation] a:hover {
		background-color: #36527D;
		background-image: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    color-stop(0.36, #36527D),
		    color-stop(0.82, #2E3F59)
		);
		background-image: -moz-linear-gradient(
		    center bottom,
		    #36527D 36%,
		    #2E3F59 82%
		);
	}
	nav[role=navigation] a strong {
		font-size: .75em; /* 12px / 16px */
		padding: 10px;
		text-transform: uppercase;
	}
	nav[role=navigation] a span {
		display: block;
		font-size: .55em; /* 8px / 12px */
		padding: 10px;
	}
/* content */
section#highlight {
	background-color: #212f49;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.1, #212f49),
	    color-stop(0.4, #2b384e)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #2D3D57 10%,
	    #2B384E 40%
	);
	margin: 40px 0 0;
	box-shadow: inset 0 10px 5px -4px #364b6f;
	overflow: hidden;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

section#highlight ul  {
	margin: 0 6.875% 0; /* 66px / 960px */
}
	section#highlight[role=contentinfo] ul li {
		float: left;
		margin: 30px 12.804878% 0 0; /* 105 / 820px */
		overflow: hidden;
		width: 24.390244%; /* 200 / 820 */
		transition: transform .3s ease;
		-webkit-transition: -webkit-transform .3s ease;
		-moz-transition: -moz-transform .3s ease;
	}
	section#highlight[role=contentinfo] ul li:last-child {
		margin: 30px 0;
	}
	section#highlight[role=contentinfo] ul li:hover {
		transform: scale(1.040);
		-webkit-transform: scale(1.040);
		-moz-transform: scale(1.040);
		-ms-transform: scale(1.040);
	}
	section#highlight[role=contentinfo] ul li:active  {
		opacity: .5;
		transform: scale(0.89);
		-webkit-transform: scale(0.89);
		-moz-transform: scale(0.89);
	}
	section#highlight[role=contentinfo] ul li a:hover,
	section.category[role=contentinfo] ul li a:hover {
		text-decoration: none;
	}
	section#highlight[role=contentinfo] ul li img {
		margin: 0 0 2px;
		max-width: 100%;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		box-shad